.AppScenario {
    position: relative;
    margin: 1.25em;

    &,
    .AppScenarioInner {
        width: 700px;
    }

    .AppScenarioInner {
        position: fixed;
        top: 100px;
        bottom: 1.25em;
        background: #1a263b;
        border-radius: 11px;
    }

    h2 {
        font-size: 1.25em;
        font-weight: normal;
        padding: 1.25em;

        svg {
            width: 20px;
            vertical-align: middle;
            margin-right: 10px;
            fill: #fff;
        }
    }

    .AppScenarioSteps {
        position: absolute;
        left: 0;
        right: 0;
        top: 4.7em;
        bottom: 0;
        overflow: auto;
    }
}