.AppFeatures {
    flex: 1;
    min-width: 700px;
    padding-top: 2em;

    .AppFeatureName {
        text-transform: capitalize;
        font-size: 1.25em;
        font-weight: normal;
        margin-bottom: 1em;

        svg {
            display: inline-block;
            vertical-align: middle;
            fill: #ffffff;
            width: 30px;
            margin-right: 0.65em;
        }
    }

    .AppFeature {
        padding: 0 2em;

        + .AppFeature {
            border-top: 1px solid #4a586b;
            padding-top: 1.5em;
            margin-top: 2.5em;
        }
    }
}