.AppScenarioSummary {
    border: 1px solid var(--main-border-color);
    border-radius: .5em;
    margin: 0.3em 0;
    cursor: pointer;
    transition-duration: 0.5s;

    h3 {
        padding: 0.85em 0.60em;
        font-size: 0.95em;
    }
}