.AppScenarioSummary {
    border-radius: .5em;
    margin: 0.3em 0;
    cursor: pointer;
    transition-duration: 0.5s;

    &.PassCheck {
        border: 1px solid var(--main-border-color);

        span {
            background: var(--main-pass-color);
            color: var(--main-pass-color-darker);
        }
    }

    &.FailCheck {
        border: 1px solid var(--main-error-color);

        span,
        &:hover {
            background: var(--main-error-color);
        }
    }

    h3 {
        padding: 0.85em 0.60em;
        font-size: 0.95em;
    }

    span {
        display: inline-block;
        width: 3em;
        margin-right: 1em;
        margin-top: -2px;
        padding: 0.2em 0.7em;
        border-radius: 25px;
        vertical-align: middle;
        font-size: 0.6em;
        font-weight: bolder;
        line-height: 1.8em;
        text-transform: uppercase;
        text-align: center;
    }

    &:hover {
        background: var(--main-border-color);
    }
}