@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --main-background: #23314a;
    --main-font-color: #fff;
    --main-font-monospace: "Source Code Pro";
    --main-border-color: #4a586b;
    --main-pass-color: #8bbf9b;
    --main-pass-color-darker: #1e3b27;
    --main-error-color: #a12727;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.35;
    font-size: 14px;
    font-weight: 400;

    color-scheme: dark;
    background: var(--main-background);
    color: var(--main-font-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
}

/**
 * Overrides the defaults set by JSON view. This specifically targets
 * the background so it's transparent; as well as a few other defaults
 * that break the overall style.
 */
.w-json-view-container {
    font-family: var(--main-font-monospace), monospace !important;
    font-size: 0.90em !important;
    font-weight: 500;
    background: transparent !important;
    line-height: 1.45em !important;
}

.w-rjv-ellipsis {
    color: #eee !important;
    background: #ffffff3b;
    border-radius: 31px;
    padding: 0 0.25em;

    &:hover {
        color: #fff !important;
        background: #eee;
    }
}

.w-rjv-wrap {
    border-left-color: #23314a !important;
}