@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --main-background: #23314a;
    --main-font-color: #fff;
    --main-font-monospace: "Source Code Pro", "monospace";
    --main-border-color: #4a586b;
    --main-pass-color: #8bbf9b;
    --main-pass-color-darker: #1e3b27;
    --main-error-color: #a12727;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.35;
    font-size: 14px;
    font-weight: 400;

    color-scheme: dark;
    background: var(--main-background);
    color: var(--main-font-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
}